<%
var order = parseInt(data[0]) % 4;
%>
<div id="shop<%- data[0] %>" class="shop overlay-trigger addactive order<%- order %>" data-index="<%- data[0] %>" data-name="<%- data[1] %>" data-cat="<%- data[2] %>" data-tel="<%- data[3] %>" data-shopdesc="<%- data[4] %>" data-limited="<%- data[5] %>" data-product="<%- data[6] %>" data-productdesc="<%- data[7] %>" data-imgnum="<%- data[8] %>">
    <div class="shop-img">
      <picture>
        <source srcset="./assets/img/product/<%- data[0] %>_1.webp" width="1120" height="840" type="image/webp" />
        <img src="./assets/img/product/<%- data[0] %>_1.png" width="1120" height="840" alt="" />
      </picture>
    </div>
    <p class="shop-name">
        <span class="en bold"><%- data[1] %></span>
        <span class="ja"><%- data[2] %></span>
    </p>
</div>