<%
var sheet = [
 {
  "No": "1",
  "ショップ名": "woofie",
  "カテゴリ": "スイーツ",
  "℡": "00-0000-0000",
  "ショップ紹介文": "甘みと苦みのあるビターキャラメルにナッツを加えた、ビターキャラメルナッツスイーツ専門店。スイーツにあわせてナッツを選び、ナッツの絶妙な香ばしさがキャラメルの美味しさをぐっと引き立てます。",
  "LIMITED ITEM かどうか": "LIMITED ITEM",
  "商品名 \/ 値段": "サンドクッキー キャラメル＆ヘーゼルナッツ 6個入 \/ ¥1,620",
  "商品紹介文": "コクのある甘さひかえめのキャラメルソースをスペイン産のミルクチョコレートで包み、皮付きヘーゼルナッツパウダーを練り込んだクッキーでサンド。ナッツの香ばしさがビターキャラメルのおいしさをぐっと引き立てる、woofie自慢の逸品です。<br> 4個入 \/ ¥1,080<br>8個入 \/ ¥2,160",
  "画像枚数": 2
 },
 {
  "No": "2",
  "ショップ名": "岡田謹製あんバタ屋",
  "カテゴリ": "スイーツ",
  "℡": "00-0000-0000",
  "ショップ紹介文": "文明開化とともに訪れた『餡子とバター』の感動再来。『岡田謹製あんバタ屋』の餡子には、北海道産『えりも小豆』使用。風味良し。口当たり良好。手間暇なしでは作り得ない希少な品。塩味のきいたバターをたっぷり忍ばせ、土産に良しな洒落た仕上がり。岡田謹製あんバタ屋。かじってみれば、文明開化の味がする。",
  "LIMITED ITEM かどうか": "LIMITED ITEM",
  "商品名 \/ 値段": "あんバタハモニカ \/ ¥2,160",
  "商品紹介文": "ふんわりやわらかいスポンジ生地に、特製バタークリーム、粒あん羊羹を交互にサンド。ずっしり、ぎっしり、厚めにカットしお召し上がりください。",
  "画像枚数": 2
 },
 {
  "No": "3",
  "ショップ名": "果実とバター canarina",
  "カテゴリ": "スイーツ",
  "℡": "00-0000-0000",
  "ショップ紹介文": "いろとりどりの果実と、美しくなめらかなバター。自然からの恵みをじょうずに組み合わせバターの中に豊かな果実の香りをぎゅっと、詰め込んで。それぞれのおいしさを引き出す工夫をたいせつに果実とバターでとっておきのお菓子を作りました。カナリナの歌声が聞こえてくるお茶のじかんがはじまります。",
  "LIMITED ITEM かどうか": "LIMITED ITEM",
  "商品名 \/ 値段": "果実とバターのサブレ ６枚  \/ ¥1,296",
  "商品紹介文": "ヘーゼルナッツシトロンバター・ピスタチオクランベリーバター・ショコララムレーズンバターの３種類の詰め合わせ。小麦に果実とバターを合わせ、さっくりと焼き上げた、食感や香り・素材を味わう、カナリナこだわりのサブレです。",
  "画像枚数": 2
 },
 {
  "No": "4",
  "ショップ名": "35MM（サンジュウゴミリ）",
  "カテゴリ": "スイーツ",
  "℡": "03-5925-8255",
  "ショップ紹介文": "ひとつづつ丁寧に作ったクッキーのお店。毎日食べたくなるようなやさしい味わいのクッキーを、小さな缶に詰めました。",
  "LIMITED ITEM かどうか": "LIMITED ITEM",
  "商品名 \/ 値段": "クッキー  \/ ¥000<br>スコーン（数量限定商品） \/ ¥000",
  "商品紹介文": "手作りのクッキーは、プレーン、アールグレイ、チョコチップと限定フレーバーの4種類。それぞれの味わいをお楽しみください。<br><br>お店で焼き上げたサクサクのスコーンも、数量限定で販売中。",
  "画像枚数": 1
 },
 {
  "No": "5",
  "ショップ名": "治一郎",
  "カテゴリ": "スイーツ",
  "℡": "00-0000-0000",
  "ショップ紹介文": "「幸せを重ねる」をコンセプトに、バウムクーヘンをはじめとしたお菓子をお届けしています。美味しさは五感を通じて得られるものととらえ、お客様の“心で感じる美味しさ”にこだわったお菓子を作っています。",
  "LIMITED ITEM かどうか": "LIMITED ITEM",
  "商品名 \/ 値段": "治一郎のマフィン（檸檬\/黒ごま\/チョコレート）  \/ ¥500",
  "商品紹介文": "治一郎ならではのしっとりとした生地のマフィンに、中央にフィリングを流し仕上げました。それぞれの素材の風味をいかしたイイトルミネ限定商品です。",
  "画像枚数": 2
 },
 {
  "No": "6",
  "ショップ名": "八 by PRESSBUTTERSAND",
  "カテゴリ": "スイーツ（和菓子）",
  "℡": "00-0000-0000",
  "ショップ紹介文": "バターと和菓子をかけ合わせた、「バター和菓子」という新ブランド。 目指すのは、和と洋の垣根を越え、美味しさの可能性を末広げていく、ニッポンの新しいお菓子。",
  "LIMITED ITEM かどうか": "LIMITED ITEM",
  "商品名 \/ 値段": "和バターサンド<あんバター> 4個入  \/ ¥1,296",
  "商品紹介文": "国産の米粉と北海道産小豆で作った小豆パウダーを加えたクッキー生地に、北海道産小豆を使った甘納豆と濃厚なバタークリームで作ったあずきバタークリームとあんバターキャラメルを挟みました。小豆の香りと上品な甘み、まろやかなバターの風味が広がります。あんとバターの絶妙なハーモニーをお楽しみください。",
  "画像枚数": 1
 },
 {
  "No": "7",
  "ショップ名": "BON BONS DE K",
  "カテゴリ": "スイーツ",
  "℡": "00-0000-0000",
  "ショップ紹介文": "湘南・茅ヶ崎のグルテンフリーパティスリーが東京に初出店。ベーシックな味から、茅ヶ崎産のしらすを使ったお食事系、EATo LUMINE限定フィナンシェや焼きたてフィナンシェ、クッキー缶などグルテンフリースイーツが並びます。",
  "LIMITED ITEM かどうか": "LIMITED ITEM",
  "商品名 \/ 値段": "financier au caramel  poire  \/ ¥370",
  "商品紹介文": "EATo LUMINE限定のグルテンフリーフィナンシェは、コンポートした洋梨をキャラメリゼして生地に入れ、生キャラメルをトッピングしたリッチな風味を楽しめます。国産米100％の米粉にこだわり、きび砂糖とはちみつの優しい甘み、多彩な素材の組み合わせをご堪能ください。",
  "画像枚数": 2
 },
 {
  "No": "8",
  "ショップ名": "MERCER BAKESHOP",
  "カテゴリ": "スイーツ",
  "℡": "00-0000-0000",
  "ショップ紹介文": "ふわもち食感のカップシフォンや、お祝いに最適なバースデーシフォンが揃うスイーツ専門店。新たにフィナンシェをはじめとする焼き菓子がラインナップに加わり、忙しい日々のご褒美になる小さな幸せをお届けします。",
  "LIMITED ITEM かどうか": "LIMITED ITEM",
  "商品名 \/ 値段": "カップシフォンケーキ \/ ¥000",
  "商品紹介文": "MERCERグループの人気商品、ふわもち食感の「シフォンケーキ」をよりお手軽に楽しめるカップシフォンケーキが新登場。定番の生キャラメルの他、苺や抹茶など豊富なフレーバーをご用意。思わずまとめて買いたくなるような可愛らしい見た目にも注目です。",
  "画像枚数": 1
 },
 {
  "No": "9",
  "ショップ名": "マルサンカクシサク",
  "カテゴリ": "スイーツ",
  "℡": "00-0000-0000",
  "ショップ紹介文": "大阪にあるタルト専門店○△□。タルトと女性の口のサイズを徹底的に研究し、あえて高さを低くしたタルトは、お皿やフォークを使わずいつでも気軽にパクッとお召し上がりいただける「おみやげ」に人気のタルトです！",
  "LIMITED ITEM かどうか": "LIMITED ITEM",
  "商品名 \/ 値段": "8ピースホールタルト \/ ¥000",
  "商品紹介文": "お好きなタルトを組み合わせてお友達、家族と楽しめる８ピースセットになったホールタルトをご用意しました。専用パッケージに入れてのお渡しです。全て違う味を選ぶもよし、好きな味だけを選ぶもよしの自由なチョイスをお楽しみ下さい！",
  "画像枚数": 2
 },
 {
  "No": "10",
  "ショップ名": "山ノチーズ",
  "カテゴリ": "スイーツ（洋菓子・チーズスイーツ）",
  "℡": "00-0000-0000",
  "ショップ紹介文": "自然の恵みと人々の知恵によって進化してきたチーズを北海道の素材との組み合わせで楽しめるチーズスイーツを提供いたします。",
  "画像枚数": 1
 },
 {
  "No": "11",
  "ショップ名": "RF1／神戸コロッケ",
  "カテゴリ": "フード",
  "℡": "00-0000-0000",
  "ショップ紹介文": "サラダを中心に、健康、安心・安全、鮮度にこだわったそうざいをお客様にご提案する「RF1」。素材本来のおいしさを引き出したコロッケなどを揃える「神戸コロッケ」。お客様の毎日の豊かな食卓をサポートします。",
  "LIMITED ITEM かどうか": "LIMITED ITEM",
  "商品名 \/ 値段": "RF1 ラッキーバッグ \/ ¥3,280",
  "商品紹介文": "サラダやスープ、アソートセット等さまざまな味わいを愉しめる、アール・エフ・ワン人気のメニュー6点に、次回以降使えるクーポン券も入ったお得なセットです。オリジナル保冷バッグに入れてお渡しします。（4\/17-4\/19まで販売予定）",
  "画像枚数": 2
 },
 {
  "No": "12",
  "ショップ名": "サラダデリ MARGO",
  "カテゴリ": "フード（サラダ・弁当）",
  "℡": "00-0000-0000",
  "ショップ紹介文": "「自然まるごと、サラダサプリ」をコンセプトに、風味・見た目・機能性を追求したサラダを種類多く展開。パックサラダのほかに、野菜をふんだんに使ったお弁当「サラダごはん」もご提供。",
  "商品名 \/ 値段": "サーモンクリームチーズの芳醇サラダ<br>Sサラダ \/ ¥990  Rサラダ \/ ¥1,480",
  "商品紹介文": "間違えないコンビ「スモークサーモン&クリームチーズ」がたっぷりのった、シーフードの鉄板サラダ。シャープな食味で人気のスイートバジルドレッシングが、後味さっぱりに仕立ててくれます。",
  "画像枚数": 2
 },
 {
  "No": "13",
  "ショップ名": "つばめグリルDELI",
  "カテゴリ": "フード",
  "℡": "00-0000-0000",
  "ショップ紹介文": "洋食レストランつばめグリルのテイクアウト専門店です。看板商品ハンブルグステーキはレストラン同様に挽肉にする所から、全て手作りしております。お出かけのお供やご家庭でも、レストランの味をお楽しみください。",
  "LIMITED ITEM かどうか": "LIMITED ITEM",
  "商品名 \/ 値段": "八丁味噌デミグラスソースのやわらかハンブルグステーキ弁当  \/ ¥000",
  "商品紹介文": "店内キッチンで挽き肉にするところから手作りした、やわらかいハンブルグステーキに、ごはんによく合う特製の八丁味噌デミグラスソースをたっぷりかけました。イイトルミネ限定のお弁当です。",
  "画像枚数": 2
 },
 {
  "No": "14",
  "ショップ名": "BUNNY BREAD",
  "カテゴリ": "ブーランジェリー・パン",
  "℡": "03-6457-8878",
  "ショップ紹介文": "東京・東日本橋の人気ブーランジェリー〈BEAVER BREAD〉の割田健一シェフがプロデュースした新ブランドがエキナカ初登場。昔ながらの定番パン、菓子パンや総菜パンのそろう&quot;街のパン屋さん&quot;です。",
  "LIMITED ITEM かどうか": "LIMITED ITEM",
  "商品名 \/ 値段": "シナモンロール \/ ¥350",
  "商品紹介文": "シナモンフィリングを折り込んだ生地を冷蔵庫にて一晩低温でゆっくり発酵させたのち焼き上げたしっとりとしたシナモンロールです。リベイクするとスイーツのような食感でお楽しみいただけます。",
  "画像枚数": 2
 },
 {
  "No": "15",
  "ショップ名": "秘密厨房",
  "カテゴリ": "フード",
  "℡": "00-0000-0000",
  "ショップ紹介文": "日本各地から旬の食材を集め、シェフがイタリア料理で学んだ技術と様々な国籍の料理のアイデアを詰め込んだ、新しいけど安心感のある特製お弁当やお惣菜。ロケ弁当として有名だった秘密厨房の料理をぜひお楽しみください。",
  "LIMITED ITEM かどうか": "LIMITED ITEM",
  "商品名 \/ 値段": "極み「春」弁当  \/ ¥3,240",
  "商品紹介文": "日本料理の自然の風景や花鳥風月を器の中で表現する見立て料理にならい、月毎に移ろう季節の情景をお弁当に詰めました。丁寧に調理された具材をちりばめたちらし弁当です。ちらし寿司は植物のもつそれぞれの味わいを引き出し重なり合う精進ちらしです。",
  "画像枚数": 2
 },
 {
  "No": "16",
  "ショップ名": "BLOSSOM&BOUQUET TOKYO",
  "カテゴリ": "フード（サンドイッチ）",
  "℡": "00-0000-0000",
  "ショップ紹介文": "BLOSSOM & BOUQUET TOKYOは、新宿エキナカのいつでも立ち寄りたくなるオールデイ・サンドイッチ専門店として、季節ごとにグルメ＆ヘルシーで気持ち華やぐ良質なサンドイッチをご提供します。",
  "LIMITED ITEM かどうか": "LIMITED ITEM",
  "商品名 \/ 値段": "TOKYOデリ・スペシャル  \/ ¥440",
  "商品紹介文": "こだわりのタマゴとポテトサラダの旨味に、フレッシュトマトの彩りと全粒粉パンのヘルシーさをプラスしました！シンプルながらも満足感があり、しっかり食べたい朝食やランチにもおすすめの一品です！",
  "画像枚数": 2
 },
 {
  "No": "17",
  "ショップ名": "BAKERs' Symphony",
  "カテゴリ": "フード",
  "℡": "00-0000-0000",
  "ショップ紹介文": "~パン好きをもっとパン好きに~東京、神奈川、千葉、埼玉で活躍するパン職人達が奏でるパンのコンサートホールです。100店舗以上のブランド、1,000種類以上のパンとの出会いがここにあります。",
  "画像枚数": 1
 },
 {
  "No": "18",
  "ショップ名": "羅家 東京豚饅",
  "カテゴリ": "フード",
  "℡": "00-0000-0000",
  "ショップ紹介文": "大阪土産の定番「551蓬莱」創業者の孫が、東京でもあの出来立てを味わってもらいたいと創業者の味を再現した豚饅専門店。ご家庭ではもちろん、差し入れにもピッタリで東京土産の新定番になること間違いなしです。",
  "商品名 \/ 値段": "豚饅  \/ ¥300",
  "商品紹介文": "具材は厳選された質の高い豚肉と玉ねぎの2種類のみを使用し、生地は当日生産・当日販売に合わせて発酵のピークをコントロールするこだわり。ふっくらと蒸し上がるよう熟練の職人が愛情を込めて1つ1つ丁寧に包んでいます。",
  "画像枚数": 2
 },
 {
  "No": "19",
  "ショップ名": "成城石井",
  "カテゴリ": "フード（食料品）",
  "℡": "00-0000-0000",
  "ショップ紹介文": "「『ＳＥＩＪＯ　ＩＳＨＩＩ』には、『ＯＩＳＨＩＩ（おいしい）』がある」をモットーに、バイヤーが世界中・日本中から厳選した、おいしくてこだわりのある食品を、お求めになりやすい価格で豊富に取り揃えております。",
  "LIMITED ITEM かどうか": "LIMITED ITEM",
  "商品名 \/ 値段": "【EATo LUMINE×COEDO】『Our Time』 \/ ¥399",
  "商品紹介文": "埼玉県川越市発のクラフトブルワリーCOEDOとイイトルミネがコラボレーションしたオリジナルビールを成城石井で限定発売 。シトラスやトロピカル系のホップアロマ香るHoppy Wheat Ale。どんな料理にもどんなシーンにもぴったりとハマる、デイリーに楽しめるビールです。",
  "画像枚数": 2
 },
 {
  "No": "20",
  "ショップ名": "お茶漬けおにぎり 山本山",
  "カテゴリ": "フード（軽食・お弁当）",
  "℡": "00-0000-0000",
  "ショップ紹介文": "1690年創業のお茶と海苔の山本山が初のお茶漬け・おにぎり専門店をOPEN！「元祖・煎茶商」が作るこだわりのほうじ茶出汁がベースのお茶漬けと上質な海苔が香るおにぎりでお客様のお腹と心を満たします。",
  "LIMITED ITEM かどうか": "LIMITED ITEM",
  "商品名 \/ 値段": "海苔だく茶漬け  \/ ¥1,400",
  "商品紹介文": "「元祖・煎茶商」が作るこだわりのほうじ茶出汁がベースのお茶と、山本山の厳選した3種の上質な海苔を贅沢に使用した香り高いお茶漬けです。",
  "画像枚数": 2
 },
 {
  "No": "21",
  "ショップ名": "そばいち",
  "カテゴリ": "フード（蕎麦）",
  "℡": "00-0000-0000",
  "ショップ紹介文": "自慢の自家製かき揚げと茹でたての本格生そば。こだわりの出汁は、かつお節の風味にさば節の厚み・旨みをあわせています。季節を感じる旬の食材を使った限定商品もご用意しております。",
  "LIMITED ITEM かどうか": "LIMITED ITEM",
  "商品名 \/ 値段": "オリーブオイルで食べる生ハムのサラダそば \/ ¥880",
  "商品紹介文": "スペイン産の生ハムの塩味を生かしたサラダ仕立てのそばです。エキストラバージンオリーブオイルをかけてお召し上がりいただく商品です。揚げ蕎麦の食感と豊かな風味をお楽しみいただけます。",
  "画像枚数": 2
 },
 {
  "No": "22",
  "ショップ名": "立鮨 すし横",
  "カテゴリ": "フード",
  "℡": "00-0000-0000",
  "ショップ紹介文": "本格握り寿司が手軽に楽しめるカウンター立ち食い寿司と、職人による握りたてのお持ち帰り寿司がございます。",
  "LIMITED ITEM かどうか": "LIMITED ITEM",
  "商品名 \/ 値段": "【オープン記念】本鮪三貫セット  \/ ¥780",
  "商品紹介文": "本鮪の大トロ、中トロ、赤身を、３貫セットでお得にご提供致します。（店内、お持ち帰り、どちらでも承ります）",
  "画像枚数": 2
 },
 {
  "No": "23",
  "ショップ名": "バンコク屋台 カオサン",
  "カテゴリ": "フード（タイ料理）",
  "℡": "00-0000-0000",
  "ショップ紹介文": "自慢の『タイ式トムヤムヌードル』は桜エビ、ピーナッツ入りの当店オリジナルスープ！活気溢れる店内はアジアの香りが漂いまるで現地にいるような雰囲気が最大の魅力。提供スピードもこだわり！テイクアウトもOK！",
  "LIMITED ITEM かどうか": "LIMITED ITEM",
  "商品名 \/ 値段": "カオサンロードヌードル  \/ ¥1,180",
  "商品紹介文": "タイのバンコク屋台トムヤムヌードル。タイの方に愛されている辛い、酸っぱい、甘い、しょっぱいが一度に味わえるクリアタイプのトムヤムスープで現地本場の味を再現。トッピングの具沢山なところもウリで、タイ屋台料理が新宿エキナカで味わえます。",
  "画像枚数": 2
 },
 {
  "No": "24",
  "ショップ名": "ベックスコーヒーショップ",
  "カテゴリ": "カフェ",
  "℡": "00-0000-0000",
  "ショップ紹介文": "日常のオアシスとして「ちょっと嬉しい」をテーマとした毎日に欠かせないコーヒーショップ。香り高い本格コーヒーと自家製パニーニをリーズナブルな価格でご用意しております。",
  "LIMITED ITEM かどうか": "LIMITED ITEM",
  "商品名 \/ 値段": "キャラメルロイヤルミルクティーフロート<br>Rサイズ \/ ¥650  Lサイズ\/ ¥700",
  "商品紹介文": "ミルクに合う指定農園の茶葉を使用した深みのある濃厚な味わいのロイヤルミルクティーにキャラメルソースを合わせた、店舗限定のキャラメルロイヤルミルクティーにソフトクリームをのせ、フロートに仕立てました。無糖で濃厚なミルクティーにミルクソフトと甘いキャラメルソースがよく合います。",
  "画像枚数": 2
 },
 {
  "No": "25",
  "ショップ名": "らーめん鴨to葱",
  "カテゴリ": "フード",
  "℡": "00-0000-0000",
  "ショップ紹介文": "鴨to葱では厳選した国産合鴨を水のみで丸２日間弱火でじっくりスープを炊いています。鴨本来の旨味とコク、それを引き出す葱が織りなすシンプルで奥行のある味を、国産小麦と全粒粉をブレンドした特注麺に絡めてお楽しみください。",
  "商品名 \/ 値段": "鴨らーめん \/ ¥1,100",
  "画像枚数": 1
 },
 {
  "No": "26",
  "ショップ名": "germe",
  "カテゴリ": "フラワー",
  "℡": "00-0000-0000",
  "ショップ紹介文": "「想い、芽吹く」ありがとう。おめでとう。頑張ってね。よろしくね。\n花のつぼみが芽吹くように、とらわれない想いがはじけたら、花とともに  いま届けよう。あの人の特別な日、なんでもない日に。気持ちを花で伝えるギフトショップ。",
  "LIMITED ITEM かどうか": "LIMITED ITEM",
  "商品名 \/ 値段": "クリアバックアレンジメント（グリーン） \/ ¥2,200",
  "商品紹介文": "イイトルミネの開業を記念して&quot;germe(新芽)&quot;をイメージした\n瑞々しいグリーンカラーのフラワーアレンジメントを限定でご用意いたしました。花瓶いらずでそのまま飾れるためギフトにもおすすめです。",
  "画像枚数": 2
 },
 {
  "No": "27",
  "ショップ名": "Biop",
  "カテゴリ": "コスメティック",
  "℡": "00-0000-0000",
  "ショップ紹介文": "立ち寄るお店で、からだは変わる。<br>私たちは、毎日をあわただしく過ごすあなたの、健康のお手伝いをするためにいます。<br>未来のあなたのからだを想う原料にこだわったナチュラルサプリや、<br>オーガニックな食品を取り揃えています。",
  "LIMITED ITEM かどうか": "LIMITED ITEM",
  "商品名 \/ 値段": "Cosme Kitchen HERBORISTERIE ショットドリンク 各種 \/ ¥698",
  "商品紹介文": "不調を感じた時に気軽に飲んでほしい、セルフケアドリンク。ハーブを独自のレシピで組み合わせ、女性特有のお悩みに、お酒を飲んだ翌日に、ゾクゾクっと感じた時など、気になる不調に合わせてチョイスして、1本で元気をチャージ！",
  "画像枚数": 1
 },
 {
  "No": "28",
  "ショップ名": "THE BENCH",
  "カテゴリ": "フード",
  "℡": "00-0000-0000",
  "ショップ紹介文": "改札内に出現した没入体験アートスポット&quot;THE BENCH&quot;。ここにしかない次世代自販機で、国内外からセレクトした珠玉のクラフトビールやお酒、おつまみを買うことができる。商品を買うと別世界が出現！",
  "画像枚数": 1
 }
];
%>
<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('parts/_head', {title: 'EATo LUMINE', description: 'EATo LUMINE（イイトルミネ）のコンセプトは「EAToでイイトキ、イイトキメキ。」。 忙しくても美味しいものを食べたい人や、話題のお店や流行りのグルメに関心のある人に向けた、エキナカならではのグルメスポットです。新宿駅を利用する方へ、様々な形でルミネならではの新しい「食との出会い」をお届けします。', keywords: 'EATo LUMINE,イイトルミネ,ルミネ,LUMINE,ルミネ新宿,ルミネエスト新宿,新宿,グルメ,エキナカ', url: 'https://www.lumine.ne.jp/eato-lumine', ogimage: 'https://www.lumine.ne.jp/eato-lumine/assets/img/ogp.jpg'}) %>
</head>

<body class="">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PTQ2S2R"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFRJDJN"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="container">
  <%- include('parts/_overlay') %>
  <%- include('parts/_header') %>
  <main>
    <section id="top" class="section">
      <div class="wrapper">
        <div class="keyv active">
          <picture>
            <source srcset="./assets/img/pcsp_top_1.webp" width="2560" height="1200" type="image/webp" />
            <img src="./assets/img/pcsp_top_1.jpg" width="2560" height="1200" alt="" />
          </picture>
        </div>
        <div class="keyv">
          <picture>
            <source srcset="./assets/img/pcsp_top_2.webp" width="2560" height="1200" type="image/webp" />
            <img src="./assets/img/pcsp_top_2.jpg" width="2560" height="1200" alt="" />
          </picture>
        </div>
        <div class="keyv">
          <picture>
            <source srcset="./assets/img/pcsp_top_3.webp" width="2560" height="1200" type="image/webp" />
            <img src="./assets/img/pcsp_top_3.jpg" width="2560" height="1200" alt="" />
          </picture>
        </div>
        <div class="keyv">
          <picture>
            <source srcset="./assets/img/pcsp_top_4.webp" width="2560" height="1200" type="image/webp" />
            <img src="./assets/img/pcsp_top_4.jpg" width="2560" height="1200" alt="" />
          </picture>
        </div>
      </div>
    </section>
    <section id="shop-list" class="section">
      <div class="section__inner">
        <h2 class="section-title show addactive flex justify-center jump">
          <div class="img pc">
            <img src="./assets/img/illust1.png" width="671" height="203" alt="" loading="lazy"/>
          </div>
          <span data-splitting class="under text">
            SHOP LIST
          </span>
          <div class="img pc">
            <img src="./assets/img/illust2.png" width="671" height="203" alt="" loading="lazy"/>
          </div>
          <div class="sp">
            <div class="img-wrapper">
              <div class="img">
                <img src="./assets/img/illust1.png" width="671" height="203" alt="" loading="lazy"/>
              </div>
              <div class="img">
                <img src="./assets/img/illust2.png" width="671" height="203" alt="" loading="lazy"/>
              </div>
            </div>
          </div>
        </h2>
        <div class="wrapper flex flex-sp show addactive">
          <% for(var i = 0; i < sheet.length; i++) { 
            var thisSheet = sheet[i];
          %>
            <%- include('./parts/_shop', {index: i+1, data: thisSheet}) %>
          <%  } %>
        </div>
      </div>
    </section>
    <section id="store-map" class="section">
      <div class="section__inner">
        <h2 class="section-title shippori show addactive flex justify-center jump">
          <span data-splitting class="under text">
            STORE MAP
          </span>
        </h2>
        <p class="title show addactive shippori">JR新宿駅B1階改札内（西改札方面）</p>
        <div class="map-wrapper flex space-between">
          <div class="box show addactive">
            <p class="box-title flex flex-sp align-center show addactive shippori">駅構内</p>
            <div class="box-img show addactive">
              <picture>
                <source srcset="./assets/img/pcsp_map_1.webp" type="image/webp" />
                <img src="./assets/img/pcsp_map_1.png" width="1266" height="1000" alt="" loading="lazy" />
              </picture>
            </div>
          </div>
          <div class="box show addactive">
            <p class="box-title flex flex-sp align-center show addactive shippori">イイトルミネエリア内</p>
            <div class="box-img show addactive">
              <picture>
                <source srcset="./assets/img/pcsp_map_2.webp" type="image/webp" />
                <img src="./assets/img/pcsp_map_2.png" width="1266" height="1000" alt="" loading="lazy" />
              </picture>
            </div>
          </div>
        </div>
        <p class="note show addactive black">
          ※エキナカショップをご利用の際には、Suica、入場券または有効な乗車券類が必要となります。<br/>
          ​※Suicaで同一駅の自動改札機を2時間以内に入出場された場合には、自動改札機の出場時に入金（チャージ）残額からIC入場サービス「タッチでエキナカ」の料金を自動的に差し引きます。
        </p>
      </div>
    </section>
    <section id="store-information" class="section">
      <div class="section__inner">
        <h2 class="section-title shippori addactive flex justify-center jump">
          <span data-splitting class="under text">
            STORE INFORMATION
          </span>
        </h2>
        <div class="title-wrapper">
          <div class="pc">
            <div class="title show  addactive">
              <p class="shippori">
                <span class="small">所在地 /</span>
                JR新宿駅B1階改札内（西改札方面）
              </p>
            </div>
            <div class="title show  addactive">
              <p class="shippori">
                <span class="small">OPENING HOURS /</span> 8:00−22:00
                <span class="small yugothic">＊一部営業時間が異なるショップがございます。</span>
              </p>
            </div>
          </div>
          <div class="sp">
            <div class="title show  addactive">
              <p class="shippori">
                <span class="small">所在地</span>
                JR新宿駅B1階改札内（西改札方面）
              </p>
            </div>
            <div class="title show  addactive">
              <p class="shippori">
                <span class="small">OPENING HOURS</span> 8:00−22:00
                <span class="small yugothic">＊一部営業時間が異なるショップがございます。</span>
              </p>
            </div>
          </div>
        </div>
        <p class="note show addactive">
          ※エキナカショップをご利用の際には、Suica、入場券または有効な乗車券類が必要となります。<br/>
          ​※Suicaで同一駅の自動改札機を2時間以内に入出場された場合には、自動改札機の出場時に入金（チャージ）残額からIC入場サービス「タッチでエキナカ」の料金を自動的に差し引きます。</p>
        <div class="card-wrapper flex space-between">
          <div class="box show addactive">
            <a href="//www.lumine.ne.jp/card/" target="_blank" rel="noopener" class="hover">
            <picture>
              <source srcset="./assets/img/pcsp_banner_1.webp" type="image/webp" />
              <img src="./assets/img/pcsp_banner_1.png" width="500" height="200" alt="イイトルミネのお買い物はルミネカードでいつでも5%OFF!" loading="lazy" />
            </picture>
              </a>
          </div>
          <div class="box show addactive">
            <a href="//www.lumine.ne.jp/jrepoint/" target="_blank" rel="noopener" class="hover">
            <picture>
              <source srcset="./assets/img/pcsp_banner_2.webp" type="image/webp" />
              <img src="./assets/img/pcsp_banner_2.png" width="500" height="200" alt="イイトルミネのお買い物でJRE POINTが貯まる・使える！" loading="lazy" />
            </picture>
            </a>
          </div>
        </div>
        <div class="faq">
          <div class="show addactive">
            <p class="faq-title shippori hover">
              <span>その他</span>
              <img src="./assets/img/arrow-navy.svg" width="40" height="20" alt="" loading="lazy" />
            </p>
          </div>
          <div class="faq-wrapper">
            <div class="faq-wrapper__inner">
            <div class="box">
              <p class="box-title bold">●配送サービス</p>
              <div class="line-wrapper">
                <div class="line flex align-center">
                  <div><p class="bold">ご利用対象</p></div>
                  <div><p>ルミネカードで1ショップ税込み3,000円以上お買い上げごとに1個口を無料で配送いたします。ルミネカード以外をご利用の方は税込み5,000円以上からサービス対象となります。<br/>
                  <ul class="kome">
                    <li>クール便は別途料金が必要となります。</li>
                    <li>ルミネカードでのお支払い及びご提示のお客さまがサービス対象となります。</li>
                    <li>2024年4月1日より、特別配送サービスの対象はルミネカードで税込み5,000円以上のお買い上げに変更させていただきます。</li>
                  </ul></p></div>
                </div>
                <div class="line flex align-center">
                  <div><p class="bold">対象配送エリア</p></div>
                  <div><p>1都8県/東京都・神奈川県・埼玉県・千葉県・群馬県・栃木県・茨城県・山梨県・静岡県</p></div>
                </div>
                <div class="line flex align-center">
                  <div><p class="bold">対象サイズ</p></div>
                  <div><p>一般配送・クール便/縦・横・高さの3辺合計が120cm以内</p></div>
                </div>
                <div class="line flex align-center">
                  <div><p class="bold">対象重量</p></div>
                  <div><p>一般配送・クール便/15kg以内</p></div>
                </div>
              </div>
              <p class="note">※一部対象外ショップ、商品、サービスがございます。[金券類、高級宝飾品（時計など）、壊れ物、クリーニングなど］ ※一個口30万円以下のお買上げ商品とさせていただきます。</p>
            </div>
            <div class="box">
              <p class="box-title bold">●車でお越しの方</p>
              <p class="box-text">
                <span class="bold">
                無料駐車場サービス / 当日のお買い上げレシート合計3,000円以上で2時間まで駐車無料です。
                  </span>
                <span class="small">【受付】ルミネ新宿 / ルミネ1/5F・ルミネ2/2Fインフォメーション(館営業時間に準ずる)　ルミネエスト新宿 / 1Fインフォメーション(館営業時間に準ずる)</span>
                </p>
              <div class="line-wrapper">
                <div class="line flex align-center">
                  <div><p class="bold">ご利用対象</p></div>
                  <div><p>①新宿駅東口駐車場	②都庁第一本庁舎駐車場	③JR新宿ミライナタワー駐車場</p></div>
                </div>
                <div class="line flex align-center">
                  <div><p class="bold">ご注意</p></div>
                  <div>
                    <ul class="dot">
                      <li>ルミネ新宿・ルミネエスト新宿での当日のお買い上げレシートに限らせていただきます。<br/>（合算可）※但し、ニュウマン新宿との合算不可</li>
                      <li>ルミネ the よしもと公演観覧のお客さまは、レシートの代用として公演当日のチケットの半券をお持ちください。</li>
                      <li>下記受付場所にレシート（半券）と駐車券をお持ちください。</li>
                      <li>アイルミネ受取カウンターご利用時は、アイルミネでのお買い上げ金額に関わらず、2時間サービスとなります。ご利用の場合はスタッフまでお申し出ください。</li>
                    </ul><br/><br/>
                    <p class="bold">
                      【受付】<br/>
                      ①新宿駅東口駐車場ご利用のお客さま直接駐車場へお越しください。<br/><br/>
                      ②都庁第一本庁舎駐車場 ③JR新宿ミライナタワー駐車場ご利用のお客さま<br/>
                      ルミネ新宿　ルミネ1/5F・ルミネ2/2Fインフォメーション(館営業時間に準ずる)<br/>
                      ルミネエスト新宿　1Fインフォメーション(館営業時間に準ずる)
                    </p><br/><br/>
                    <ul class="kome">
                      <li>
                        <span>
                        上記を除く時間帯<br/>②③ルミネ1 1F 防災センターへお越しください。（お問い合わせ：03-3348-1870）
                          </span>
                      </li>
                      <li>大安ビル駐車場は2020年9月末、JR南新宿ビル駐車場は2020年10月末をもって提携を終了しました。</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="box">
              <p class="box-title bold">新宿駅東口駐車場を<br class="sp" />ご利用のお客さま</p>
              <div class="line-wrapper">
                <div class="line flex align-center">
                  <div><p class="bold">営業時間</p></div>
                  <div><p>年中無休・終日営業／30分：310円／高さ制限2.1Mまで／144台</p></div>
                </div>
                <div class="line flex align-center">
                  <div><p class="bold">TEL</p></div>
                  <div><p>
                    03-5379-7779<br/>
                    〒 160-0022　東京都新宿区新宿3-38-1
                    </p><br/><br/>
                    <ul class="kome">
                      <li>深夜1:00～6:00の入庫はできません。</li>
                      <li>日曜、祝日は新宿通りが歩行者天国となるため、｢月～土曜日｣とは進入経路が異なります。</li>
                      <li>甲州街道沿いのルートをご利用ください。<br/>ルミネエスト新宿の閉店時間以降は、B1から階段をご利用のうえ、B2駐車場へおまわりください。</li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="box">
            <p class="box-title bold">都庁第一本庁舎駐車場を<br class="sp" />ご利用のお客さま</p>
            <div class="line-wrapper">
              <div class="line flex align-center">
                <div><p class="bold">営業時間</p></div>
                <div><p>終日営業／休業日：12/29～１/3、都庁舎の点検日、イベント開催時<br/>
                  最初の1時間 30分：150円、1時間以降 30分：250円／高さ制限2.2Mまで／約60台</p></div>
              </div>
              <div class="line flex align-center">
                <div><p class="bold">TEL</p></div>
                <div><p>
                  03-5320-7653<br/>
                  〒 163-8001　東京都新宿区西新宿2-8-1
                </p><br/>
                <ul class="kome">
                  <li>
                    22:00～8:00は出入庫はできません。
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="box">
            <p class="box-title bold">JR新宿ミライナタワー駐車場を<br class="sp" />ご利用のお客さま</p>
            <div class="line-wrapper">
              <div class="line flex align-center">
                <div><p class="bold">営業時間</p></div>
                <div><p>8:00～23:30／年中無休<br/>
                  30分：400円／入庫可能サイズ：全長5,300mm 全幅1,950mm 全高2,100mm 重量2,300kg／160台</p></div>
              </div>
              <div class="line flex align-center">
                <div><p class="bold">TEL</p></div>
                <div><p>
                  0120-77-8924<br/>
                  〒160-0022　東京都新宿区新宿4-1-6<br/>
                  <ul class="kome">
                    <li>
                      機械式駐車場の場合：21:30以降は、1F ル パン ドゥ ジョエル・ロブション隣のミライナタワー通用口からビルに入館いただき、B1駐車場へお越しください。
                      </li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="about" class="section">
      <div class="section__inner">
        <h2 class="section-title shippori show addactive flex justify-center jump">
          <span data-splitting class="under text">
            CONCEPT
          </span>
        </h2>
        <div class="inline-block">
          <h2 class="section-title-ja addactive jump shippori">
            <span class="pc">
              <span data-splitting>
                世界でいちばんの、うれしい出会いを。
              </span>
            </span>
            <span class="sp">
              <span data-splitting>
                世界でいちばんの、
              </span>
              <span data-splitting>
                うれしい出会いを。
              </span>
            </span>
          </h2>
          <p class="section-text shippori show addactive">
            世界でいちばん多くの人が使う駅に、<br class="sp"/>世界がときめくうれしい出会いを集めました。<br/>
            ワクワクするモノも、おいしいモノも、幸福な時間も、<br class="sp"/>まるっと満たしたい。<br class="pc" />
            すこし欲張りな場所です。<br class="sp"/>さぁ、あなたの、特別な毎日に。
          </p>
        </div>
        <div class="video show addactive"></div>
        <div class="swiper-container show addactive">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture>
                <source srcset="./assets/img/sp_scene_1.webp" width="900" height="640" media="(max-width:749px)" type="image/webp" />
                <source srcset="./assets/img/sp_scene_1.png" width="900" height="640" media="(max-width:749px)" />
                <source srcset="./assets/img/pc_scene_1.webp" width="1496" height="7700" type="image/webp" />
                <img src="./assets/img/pc_scene_1.png" width="1496" height="7700" alt="" />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="./assets/img/sp_scene_2.webp" width="900" height="640" media="(max-width:749px)" type="image/webp" />
                <source srcset="./assets/img/sp_scene_2.png" width="900" height="640" media="(max-width:749px)" />
                <source srcset="./assets/img/pc_scene_2.webp" width="1496" height="7700" type="image/webp" />
                <img src="./assets/img/pc_scene_2.png" width="1496" height="7700" alt="" />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="./assets/img/sp_scene_3.webp" width="900" height="640" media="(max-width:749px)" type="image/webp" />
                <source srcset="./assets/img/sp_scene_3.png" width="900" height="640" media="(max-width:749px)" />
                <source srcset="./assets/img/pc_scene_3.webp" width="1496" height="7700" type="image/webp" />
                <img src="./assets/img/pc_scene_3.png" width="1496" height="7700" alt="" />
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="sns">
        <p class="title shippori show addactive">FOLLOW US ON</p>
        <a href="//www.instagram.com/eato_lumine" target="_blank" rel="noopener" class="show addactive">
          <img class="hover" src="./assets/img/insta.svg" width="50" height="50" alt="" loading="lazy" />
        </a>
      </div>
    </section>
  </main>
  <%- include('parts/_footer') %>
  </div>
  <script type="text/javascript">
    (function () {
      var tagjs = document.createElement("script");
      var s = document.getElementsByTagName("script")[0];
      tagjs.async = true;
      tagjs.src = "//s.yjtag.jp/tag.js#site=APNU6vI";
      s.parentNode.insertBefore(tagjs, s);
    }());
  </script>
  <noscript>
    <iframe src="//b.yjtag.jp/iframe?c=APNU6vI" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </noscript>
</body>
<script src="//cdn.jsdelivr.net/npm/swiper@8.2.4/swiper-bundle.min.js" defer></script>
<script src="./assets/js/libs.js"></script>
<script src="./assets/js/main.js"></script>
</html>